.para {
    font-size: 150px;
    font-weight: 900;
    font-family: roboto;
}
.head{
    font-size: 80px;
    font-family: 900;
    font-family: roboto;
}
.btn{
    height: 36px;
    width:100px;
    border-radius: 10px;
    font-family: roboto;
    font-size: 20px;
    margin: 10px;
    background-color: green;

}
.bgcontainer{
    display:flex;
    flex-direction: column;
    text-align:center;
    background-color:aquamarine;
}